---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% comment %}
    EDF
    {% include head/custom.html %}
    {% endcomment %}-->
    {% comment %}
      EDF: Google Analytics 4
    {% endcomment %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.gtag_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics.google.gtag_id }}');
    </script>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% comment %}
    EDF
    {% include footer/custom.html %}
    {% endcomment %}
  </body>
</html>
