---
layout: default
---

{% if site.edf_header_image %}
  {% assign edf_page_header_image = site.edf_header_image %}
{% endif %}
{% if page.header.image %}
  {% assign edf_page_header_image = page.header.image %}
{% endif %}


{% if page.header.overlay_color or page.header.overlay_image or edf_page_header_image %}
  {% include edf_page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>